<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soal no 2</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="animal in animals">
                {{animal}}
            </li>
        </ul>

        <hr>

        <ul>
            <li v-for="item in people">
                <div v-for="(value, key) in item">
                    {{key}}: {{value}}
                </div>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let vm = Vue.createApp({
            data() {
                return {
                    animals: ['Kucing', 'Kelinci', 'Ayam', 'Anggsa'],
                    people: [
                        { name: 'Rezky', age: 26 },
                        { name: 'Andi', age: 18 },
                        { name: 'Budi', age: 33 }
                    ]
                }
            }
        }).mount('#app');
    </script>
</body>
</html>